.navigation-wrapper {
  @include indent(0,0,flex);
  @include flex(row, flex-start, center);
  max-width: 900px;
  .visit-site {
    @include size(212px, 44px);
    @include font(700, 18px, 4.17);
    margin-left: 40px;
    letter-spacing: 0.9px;
  }
}

.navigation {
  @include indent(0,0,flex);
  @include flex(row, center, center);
  &-list {
    @include indent(0,0,flex);
    @include flex(row, flex-start, center);
    li {
      @include indent(0 20px);
      a {
        @extend %menu-item;
      }
    }
  }
}