.banner {
  @include indent(0, 14px 0 0);
  &-box {
    @include indent(0,0,grid);
    grid-template-columns: 482px 590px;
    grid-column-gap: 66px;
    .info {
      &__sup-text {
        @include font(300, 15px, 15px, italic);
        color: $text-02-color;
      }
      &__title {
        @include indent(16px 0);
        @include font(700, 36px, 44px);
        color: $text-01-color;
      }
      &__sub-text {
        @include font(300, 14px, 14px);
        color: $text-02-color;
      }
      &__description {
        @include indent();
        @include font();
        color: $text-01-color;
      }
      .main-counter {
        @include indent(26px 0 18px,0,flex);
        @include flex(row, flex-start, center);
        @include size(100%, 47px);
        &__item {
          &:first-child {
            padding-left: 0;
          }
          @include font(700, 22px, 22px);
          @include color($ui-01-color, $text-04-color);
          @include indent(0,0 15px,flex);
          @include flex(row, flex-start, center);
          height: 47px;
          border-right: 1px solid $text-03-color;
          span {
            color: $primary-color;
          }
          &:last-child {
            border-right: 1px solid transparent;
          }
        }
      }
    }

    .poster {
      @include indent();
      @include size(100%, 397px);
      &__img {
        @include indent();
        @include size(100%, 100%);
        @include transition();
        object-fit: cover;
        filter: blur(0);
        &.blur {
          filter: blur(2px);
        }
      }
    }
  }
}