#content-block {
  figure {
    overflow: hidden;
    border-radius: 10px;
    img {
      transform: scale(1);
      @include transition();
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  h2 {
    @include indent(39px 0 18px);
    @include font(700, 24px, 1.42);
    color: $text-01-color;
  }
  h3 {
    @include font(700);
    color: $text-01-color;
    margin-bottom: 11px;
  }
  p {
    @include indent(16px 0);
    @include font();
    color: $text-01-color;
  }
  ul {
    li {
      @include indent(11px 0, 0 0 0 29px);
      @include font();
      position: relative;
      color: $text-01-color;
      &::before {
        content: "";
        @include indent(0,0,block);
        @include size(7px,7px);
        background: $primary-color;
        border-radius: 50%;
        position: absolute;
        left: 12px;
        top: 8px;
      }
    }
  }
  .group-left {
    @include indent(20px 0 0, 0, flex);
    @include flex(row, flex-start);
    .wp-block-group__inner-container {
      @include indent(0, 0, flex);
      @include flex(row, flex-start);
      .text-group {
        @include indent(0,0,block);
        .wp-block-group__inner-container {
          @include indent(0,0,block);
          h2 {
            margin-top: 0;
          }
        }
      }
      figure {
        @include indent(0 23px 0 0);
        flex-grow: 0;
        flex-shrink: 0;
        width: max-content;
      }
    }
  }
  .group-right {
    @include indent(20px 0 0, 0, flex);
    @include flex(row, flex-start);
    .wp-block-group__inner-container {
      @include indent(0, 0, flex);
      @include flex(row, flex-start);
      ul {
        margin-top: 0;
        li {
          &:first-child {
            margin-top: 0;
          }
        }
      }
      .text-group {
        @include indent(0,0,block);
        .wp-block-group__inner-container {
          @include indent(0,0,block);
          h2 {
            margin-top: 0;
          }
          ul {
            margin-top: 0;
            li {
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
      figure {
        @include indent(0 0 0 23px);
        flex-grow: 0;
        flex-shrink: 0;
        width: max-content;
      }
    }
  }

  .wp-block-cgb-banner-block-gutenberg-blocks {
    margin: 60px 0;
    .banner-block {
      @include indent(0 auto, 40px 20px);
      @include font();
      @include color($ui-01-color, $text-01-color);
      box-shadow: -0.3px 10px 40px 14px rgba(0, 0, 0, 0.14);
      &__title {
        @include indent(0 0 21px);
        @include font(700, 24px, 24px);
        text-align: center;
        color: $text-01-color;
      }
      &__paragraph {
        font: inherit;
        color: $text-01-color;
        text-align: center;
      }
    }
  }
  .wp-block-cgb-cta-block-gutenberg-blocks  {
    margin: 60px 0;
    .cta-block {
      @include indent(0, 28px, flex);
      @include flex(row, center, center);
      @include color(#7e4ad0, $text-inverse-color);
      min-height: 107px;
      border-radius: 10px;
      &__paragraph {
        margin-right: 64px;
        @include font(700, 24px, 28px);
        max-width: 376px;
      }
      &__link {
        @include indent(0,0,flex);
        @include flex(row, center, center);
        @include size(212px,44px);
        @include color($ui-01-color, $btn-color);
        @include font(700, 18px, 20px);
        @include transition();
        box-shadow: $shadow-02;
        border-radius: 20px;
        letter-spacing: .9px;
        border: 2px solid $ui-01-color;
        &:hover {
          @include color($btn-color, $ui-01-color);
          border: 2px solid $ui-01-color;
        }
      }
    }
  }
}