.footer {
  @include indent(0,43px 0 55px);
  @include color($ui-02-color, $text-inverse-color);
  &-box {
    @include indent(0,0,flex);
    @include flex(row, space-between, center);
    &__info {
      @include indent();
      @include font(400,10px,12px);
      @include transition();
      max-width: 270px;
      color: $text-inverse-color;
      opacity: .5;
    }
    .navigation {
      @include indent(0,0,flex);
      flex-direction: row;
      &-list {
        @include indent(0,0,grid);
        grid-template-columns: repeat(3, max-content);
        grid-column-gap: 20px;
        grid-row-gap: 6px;
        li {
          @include font(400, 12px, 14px);
          @include indent();
          color: $text-inverse-color;
          &:nth-child(4) {
            grid-column-start: 2;
            grid-column-end: 3;
          }
          a {
            @include transition();
            font: inherit;
            color: inherit;
            cursor: pointer;
            opacity: .7;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .visit-site {
      @include size(212px,44px);
      @include font(500,18px,4.15);
      letter-spacing: .9px;
    }
  }
  &:hover {
    .footer-box {
      &__info {
        opacity: 1;
      }
      .navigation {
        &-list li a {
          opacity: 1;
        }
      }
    }
  }
}