.header {
  @include indent(0 auto, 17px 25px);
  @include size(100%, auto);
  min-height: 114px;
  background: $ui-01-color;
  &-box {
    @include indent(0, 18px, flex);
    @include flex(row, center, center);
    @include size();
    background: $ui-01-color;
    box-shadow: $shadow-01;
    min-height: 80px;
    &__container {
      @include indent(0 auto, 0, flex);
      @include flex(row, space-between, center);

      // Menu
      @import "header/menu";
    }
  }
}