.top-services {
  @include indent(0, 39px 0 18px);
  background: $ui-01-color;
  .slider {
    @include indent(0,0, flex);
    @include flex(row, flex-end, flex-end);
    min-height: 508px;
    background: $ui-01-color;
    position: relative;
    &-panel {
      position: absolute;
      left: 0;
      top: 0;
      @include indent(0 0 62px, 24px 26px);
      @include font(700, 26px,26px);
      @include size(244px, 407px);
      color: $text-inverse-color;
      background-image: linear-gradient(to top, #9f85e6, #c66ceb);
      .custom-arrows {
        margin-top: 64px;
        .arrow {
          @include indent(0,0,flex);
          @include flex(column, center, center);
          @include size(45px, 45px);
          border-radius: 50%;
          border: 2px solid $ui-01-color;
          cursor: pointer;
          @include transition();
          &:hover {
            box-shadow: $shadow-02;
          }
          &:active {
            box-shadow: inset $shadow-02;
          }
          &.next {
            transform: scale(-1, 1);
            margin-bottom: 7px;
          }
        }
      }
      .progress {
        margin-top: 134px;
        display: block;
        width: 90px;
        height: 3px;
        border-radius: 10px;
        overflow: hidden;
        background-color: rgba(255,255,255,.5);
        color: transparent;
        background-image: linear-gradient(to right, white, white);
        background-repeat: no-repeat;
        background-size: 0 100%;
        @include transition(all, 300ms, ease-in-out);
      }
    }
    &-box {
      position: relative;
      z-index: 2;
      @include size(998px, 448px);
      &-road {
        @include size(100%, 100%);
        box-shadow: $shadow-03;
        .slider-item {
          display: block;
          @include size(320px, 448px);
          background: transparent;
          box-sizing: border-box;
          box-shadow: $shadow-03;
          &-photo {
            @include size(100%, 182px);
            overflow: hidden;
            img {
              @include transition();
              display: block;
              width: 100%;
              object-fit: cover;
              transform: scale(1);
            }
            &:hover {
              img {
                transform: scale(1.05);
              }
            }
          }
          &-info {
            @include indent(0,16px 24px 18px,block);
            background: $ui-01-color;
            .title {
              @include font(700, 16px,18p);
              color: $text-04-color;
            }
            .counter {
              @include indent(6px 0 0,0,flex);
              @include flex(row, flex-start, center);
              @include size(100%, 44px);
              &-item {
                @include indent(0,0,flex);
                @include flex(row, flex-start, center);
                @include font(700,20px,22px);
                @include size(103px, 100%);
                @include color($ui-01-color, $text-04-color);
                border-right: 1px solid $text-03-color;
                img {
                  position: relative;
                  bottom: 3px;
                }
                span {
                  color: $ui-03-color;
                  margin-left: 4px;
                }
                &:first-child {

                }
                &:nth-child(2) {
                  padding-left: 23px;
                }
                &:last-child {
                  padding-left: 17px;
                  border-right: 1px solid transparent;
                }
              }
            }
            .links {
              @include indent(10px 0 0,0,flex);
              @include flex(row, space-between, center);
              .read-review {
                @include indent(0,0 0 3px,flex);
                @include flex(row, space-between, center);
                @include font(700, 12px,14px);
                @include size(100px, auto);
                @include transition();
                color: $text-05-color;
                text-transform: uppercase;
                position: relative;
                &::before {
                  content: "";
                  @include size(98%, 1px);
                  @include transition();
                  background: $text-05-color;
                  position: absolute;
                  left: 0; bottom: 0;
                }
                span {
                  font: inherit;
                }
                img {
                  display: block;
                  transform: translateX(-2px);
                  @include transition();
                }
                &:hover {
                  &::before {
                    @include size(90%, 1px);
                  }
                  img {
                    transform: translateX(6px);
                  }
                }
              }
              .visit-site {
                @include font(700, 12px,7px);
                @include size(120px,38px);
                text-transform: uppercase;
                box-shadow: none;
              }
            }
            .feedback {
              @include indent(10px 0 0, 15px 10px 10px);
              @include size(100%, 100px);
              background: rgba(108,108,108, .15);
              overflow-y: scroll;
              box-shadow: inset $shadow-04;
              &::-webkit-scrollbar-track {
                border-radius: 4px;
              }
              &::-webkit-scrollbar {
                width: 6px;
              }
              &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background: $text-02-color;
              }
              &:hover::-webkit-scrollbar-thumb {background: $primary-color;}
              &-name {
                @include indent(0 0 11px,0,flex);
                @include flex(row, flex-start, flex-start);
                @include font(700, 14px, 16px);
                color: $text-04-color;
                img {
                  display: block;
                  position: relative;
                  top: 2.5px;
                }
                span {
                  margin-left: 9px;
                  &:first-letter {
                    text-transform: uppercase;
                  }
                }
              }
              &-comment {
                @include indent(0 0 10px,0,block);
                @include font(7400, 12px, 14px);
                color: $text-05-color;
              }
              &-email {
                @include font(400, 12px,14px, italic);
                color: $text-02-color;
              }
            }
          }
        }
      }
    }
  }
}

/* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}