@charset "UTF-8";
.header-box__container .navigation-list li a {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
  width: max-content;
  height: auto;
  transition: color 200ms ease;
  position: relative;
  color: #0a0a0a;
  letter-spacing: 0.7px;
}
.header-box__container .navigation-list li a::before {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 0.1px;
  height: 3px;
  transition: all 200ms ease;
  content: "";
  background: #6866d1;
  position: absolute;
  left: 0;
  bottom: -12px;
  right: auto;
  top: auto;
  opacity: 0;
}
.header-box__container .navigation-list li a:hover {
  color: #6866d1;
}
.header-box__container .navigation-list li a:hover::before {
  width: 100%;
  height: 3px;
  opacity: 1;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  box-sizing: border-box;
  color: #000;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

::selection {
  color: #ffffff;
  background: #fe515d;
}

::-moz-selection {
  color: #ffffff;
  background: #fe515d;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  max-width: 1170px;
}

.btn {
  display: flex;
  margin: 0;
  padding: 4px 8px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 200ms ease;
  background-color: #ffffff;
  color: #e16590;
  min-width: 120px;
  min-height: 38px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background-color: #e16590;
  color: #ffffff;
}
.btn:active {
  box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.btn.btn-primary {
  background-color: #6866d1;
  color: #ffffff;
  border: 1.5px solid #6866d1;
}
.btn.btn-primary:hover {
  background-color: #ffffff;
  color: #6866d1;
}
.btn.btn-secondary {
  background-color: #fe515d;
  color: #ffffff;
}
.btn.btn-secondary:hover {
  background-color: #ffffff;
  color: #fe515d;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.header {
  display: block;
  margin: 0 auto;
  padding: 17px 25px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 114px;
  background: #ffffff;
}
.header-box {
  display: flex;
  margin: 0;
  padding: 18px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 0 8px 20.9px 3.1px rgba(0, 0, 0, 0.08);
  min-height: 80px;
}
.header-box__container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-box__container .navigation-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 900px;
}
.header-box__container .navigation-wrapper .visit-site {
  width: 212px;
  height: 44px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 4.17;
  font-style: normal;
  margin-left: 40px;
  letter-spacing: 0.9px;
}
.header-box__container .navigation {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-box__container .navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header-box__container .navigation-list li {
  display: block;
  margin: 0 20px;
  padding: 0;
  box-sizing: border-box;
}
.banner {
  display: block;
  margin: 0;
  padding: 14px 0 0;
  box-sizing: border-box;
}
.banner-box {
  display: grid;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  grid-template-columns: 482px 590px;
  grid-column-gap: 66px;
}
.banner-box .info__sup-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  font-style: italic;
  color: #b3b3b3;
}
.banner-box .info__title {
  display: block;
  margin: 16px 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  font-style: normal;
  color: #000000;
}
.banner-box .info__sub-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  color: #b3b3b3;
}
.banner-box .info__description {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
}
.banner-box .info .main-counter {
  display: flex;
  margin: 26px 0 18px;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 47px;
}
.banner-box .info .main-counter__item {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  font-style: normal;
  background-color: #ffffff;
  color: #121212;
  display: flex;
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  border-right: 1px solid #e6e6e6;
}
.banner-box .info .main-counter__item:first-child {
  padding-left: 0;
}
.banner-box .info .main-counter__item span {
  color: #6866d1;
}
.banner-box .info .main-counter__item:last-child {
  border-right: 1px solid transparent;
}
.banner-box .poster {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 397px;
}
.banner-box .poster__img {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: all 200ms ease;
  object-fit: cover;
  filter: blur(0);
}
.banner-box .poster__img.blur {
  filter: blur(2px);
}

.top-services {
  display: block;
  margin: 0;
  padding: 39px 0 18px;
  box-sizing: border-box;
  background: #ffffff;
}
.top-services .slider {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 508px;
  background: #ffffff;
  position: relative;
}
.top-services .slider-panel {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  margin: 0 0 62px;
  padding: 24px 26px;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  font-style: normal;
  width: 244px;
  height: 407px;
  color: #ffffff;
  background-image: linear-gradient(to top, #9f85e6, #c66ceb);
}
.top-services .slider-panel .custom-arrows {
  margin-top: 64px;
}
.top-services .slider-panel .custom-arrows .arrow {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: all 200ms ease;
}
.top-services .slider-panel .custom-arrows .arrow:hover {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.top-services .slider-panel .custom-arrows .arrow:active {
  box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
.top-services .slider-panel .custom-arrows .arrow.next {
  transform: scale(-1, 1);
  margin-bottom: 7px;
}
.top-services .slider-panel .progress {
  margin-top: 134px;
  display: block;
  width: 90px;
  height: 3px;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  color: transparent;
  background-image: linear-gradient(to right, white, white);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: all 300ms ease-in-out;
}
.top-services .slider-box {
  position: relative;
  z-index: 2;
  width: 998px;
  height: 448px;
}
.top-services .slider-box-road {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.15);
}
.top-services .slider-box-road .slider-item {
  display: block;
  width: 320px;
  height: 448px;
  background: transparent;
  box-sizing: border-box;
  box-shadow: 0 0 68px 0 rgba(0, 0, 0, 0.15);
}
.top-services .slider-box-road .slider-item-photo {
  width: 100%;
  height: 182px;
  overflow: hidden;
}
.top-services .slider-box-road .slider-item-photo img {
  transition: all 200ms ease;
  display: block;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
}
.top-services .slider-box-road .slider-item-photo:hover img {
  transform: scale(1.05);
}
.top-services .slider-box-road .slider-item-info {
  display: block;
  margin: 0;
  padding: 16px 24px 18px;
  box-sizing: border-box;
  background: #ffffff;
}
.top-services .slider-box-road .slider-item-info .title {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18p;
  font-style: normal;
  color: #121212;
}
.top-services .slider-box-road .slider-item-info .counter {
  display: flex;
  margin: 6px 0 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 44px;
}
.top-services .slider-box-road .slider-item-info .counter-item {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  font-style: normal;
  width: 103px;
  height: 100%;
  background-color: #ffffff;
  color: #121212;
  border-right: 1px solid #e6e6e6;
}
.top-services .slider-box-road .slider-item-info .counter-item img {
  position: relative;
  bottom: 3px;
}
.top-services .slider-box-road .slider-item-info .counter-item span {
  color: #fcbd0f;
  margin-left: 4px;
}
.top-services .slider-box-road .slider-item-info .counter-item:nth-child(2) {
  padding-left: 23px;
}
.top-services .slider-box-road .slider-item-info .counter-item:last-child {
  padding-left: 17px;
  border-right: 1px solid transparent;
}
.top-services .slider-box-road .slider-item-info .links {
  display: flex;
  margin: 10px 0 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-services .slider-box-road .slider-item-info .links .read-review {
  display: flex;
  margin: 0;
  padding: 0 0 3px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  width: 100px;
  height: auto;
  transition: all 200ms ease;
  color: #666666;
  text-transform: uppercase;
  position: relative;
}
.top-services .slider-box-road .slider-item-info .links .read-review::before {
  content: "";
  width: 98%;
  height: 1px;
  transition: all 200ms ease;
  background: #666666;
  position: absolute;
  left: 0;
  bottom: 0;
}
.top-services .slider-box-road .slider-item-info .links .read-review span {
  font: inherit;
}
.top-services .slider-box-road .slider-item-info .links .read-review img {
  display: block;
  transform: translateX(-2px);
  transition: all 200ms ease;
}
.top-services .slider-box-road .slider-item-info .links .read-review:hover::before {
  width: 90%;
  height: 1px;
}
.top-services .slider-box-road .slider-item-info .links .read-review:hover img {
  transform: translateX(6px);
}
.top-services .slider-box-road .slider-item-info .links .visit-site {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 7px;
  font-style: normal;
  width: 120px;
  height: 38px;
  text-transform: uppercase;
  box-shadow: none;
}
.top-services .slider-box-road .slider-item-info .feedback {
  display: block;
  margin: 10px 0 0;
  padding: 15px 10px 10px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  background: rgba(108, 108, 108, 0.15);
  overflow-y: scroll;
  box-shadow: inset -0.1px 3px 7px 0 rgba(108, 108, 108, 0.15);
}
.top-services .slider-box-road .slider-item-info .feedback::-webkit-scrollbar-track {
  border-radius: 4px;
}
.top-services .slider-box-road .slider-item-info .feedback::-webkit-scrollbar {
  width: 6px;
}
.top-services .slider-box-road .slider-item-info .feedback::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #b3b3b3;
}
.top-services .slider-box-road .slider-item-info .feedback:hover::-webkit-scrollbar-thumb {
  background: #6866d1;
}
.top-services .slider-box-road .slider-item-info .feedback-name {
  display: flex;
  margin: 0 0 11px;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  color: #121212;
}
.top-services .slider-box-road .slider-item-info .feedback-name img {
  display: block;
  position: relative;
  top: 2.5px;
}
.top-services .slider-box-road .slider-item-info .feedback-name span {
  margin-left: 9px;
}
.top-services .slider-box-road .slider-item-info .feedback-name span:first-letter {
  text-transform: uppercase;
}
.top-services .slider-box-road .slider-item-info .feedback-comment {
  display: block;
  margin: 0 0 10px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 7400;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  color: #666666;
}
.top-services .slider-box-road .slider-item-info .feedback-email {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: italic;
  color: #b3b3b3;
}

/* the slides */
.slick-slide {
  margin: 0 10px;
}

/* the parent */
.slick-list {
  margin: 0 -10px;
}

#content-block figure {
  overflow: hidden;
  border-radius: 10px;
}
#content-block figure img {
  transform: scale(1);
  transition: all 200ms ease;
}
#content-block figure:hover img {
  transform: scale(1.1);
}
#content-block h2 {
  display: block;
  margin: 39px 0 18px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
  font-style: normal;
  color: #000000;
}
#content-block h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
  margin-bottom: 11px;
}
#content-block p {
  display: block;
  margin: 16px 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
}
#content-block ul li {
  display: block;
  margin: 11px 0;
  padding: 0 0 0 29px;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  position: relative;
  color: #000000;
}
#content-block ul li::before {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 7px;
  height: 7px;
  background: #6866d1;
  border-radius: 50%;
  position: absolute;
  left: 12px;
  top: 8px;
}
#content-block .group-left {
  display: flex;
  margin: 20px 0 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#content-block .group-left .wp-block-group__inner-container {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#content-block .group-left .wp-block-group__inner-container .text-group {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content-block .group-left .wp-block-group__inner-container .text-group .wp-block-group__inner-container {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content-block .group-left .wp-block-group__inner-container .text-group .wp-block-group__inner-container h2 {
  margin-top: 0;
}
#content-block .group-left .wp-block-group__inner-container figure {
  display: block;
  margin: 0 23px 0 0;
  padding: 0;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  width: max-content;
}
#content-block .group-right {
  display: flex;
  margin: 20px 0 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#content-block .group-right .wp-block-group__inner-container {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
#content-block .group-right .wp-block-group__inner-container ul {
  margin-top: 0;
}
#content-block .group-right .wp-block-group__inner-container ul li:first-child {
  margin-top: 0;
}
#content-block .group-right .wp-block-group__inner-container .text-group {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content-block .group-right .wp-block-group__inner-container .text-group .wp-block-group__inner-container {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#content-block .group-right .wp-block-group__inner-container .text-group .wp-block-group__inner-container h2 {
  margin-top: 0;
}
#content-block .group-right .wp-block-group__inner-container .text-group .wp-block-group__inner-container ul {
  margin-top: 0;
}
#content-block .group-right .wp-block-group__inner-container .text-group .wp-block-group__inner-container ul li:first-child {
  margin-top: 0;
}
#content-block .group-right .wp-block-group__inner-container figure {
  display: block;
  margin: 0 0 0 23px;
  padding: 0;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  width: max-content;
}
#content-block .wp-block-cgb-banner-block-gutenberg-blocks {
  margin: 60px 0;
}
#content-block .wp-block-cgb-banner-block-gutenberg-blocks .banner-block {
  display: block;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  background-color: #ffffff;
  color: #000000;
  box-shadow: -0.3px 10px 40px 14px rgba(0, 0, 0, 0.14);
}
#content-block .wp-block-cgb-banner-block-gutenberg-blocks .banner-block__title {
  display: block;
  margin: 0 0 21px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  color: #000000;
}
#content-block .wp-block-cgb-banner-block-gutenberg-blocks .banner-block__paragraph {
  font: inherit;
  color: #000000;
  text-align: center;
}
#content-block .wp-block-cgb-cta-block-gutenberg-blocks {
  margin: 60px 0;
}
#content-block .wp-block-cgb-cta-block-gutenberg-blocks .cta-block {
  display: flex;
  margin: 0;
  padding: 28px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #7e4ad0;
  color: #ffffff;
  min-height: 107px;
  border-radius: 10px;
}
#content-block .wp-block-cgb-cta-block-gutenberg-blocks .cta-block__paragraph {
  margin-right: 64px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  max-width: 376px;
}
#content-block .wp-block-cgb-cta-block-gutenberg-blocks .cta-block__link {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 44px;
  background-color: #ffffff;
  color: #e16590;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  transition: all 200ms ease;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  letter-spacing: 0.9px;
  border: 2px solid #ffffff;
}
#content-block .wp-block-cgb-cta-block-gutenberg-blocks .cta-block__link:hover {
  background-color: #e16590;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.footer {
  display: block;
  margin: 0;
  padding: 43px 0 55px;
  box-sizing: border-box;
  background-color: #6851a7;
  color: #ffffff;
}
.footer-box {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-box__info {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-style: normal;
  transition: all 200ms ease;
  max-width: 270px;
  color: #ffffff;
  opacity: 0.5;
}
.footer-box .navigation {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: row;
}
.footer-box .navigation-list {
  display: grid;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  grid-template-columns: repeat(3, max-content);
  grid-column-gap: 20px;
  grid-row-gap: 6px;
}
.footer-box .navigation-list li {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
.footer-box .navigation-list li:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 3;
}
.footer-box .navigation-list li a {
  transition: all 200ms ease;
  font: inherit;
  color: inherit;
  cursor: pointer;
  opacity: 0.7;
}
.footer-box .navigation-list li a:hover {
  text-decoration: underline;
}
.footer-box .visit-site {
  width: 212px;
  height: 44px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 4.15;
  font-style: normal;
  letter-spacing: 0.9px;
}
.footer:hover .footer-box__info {
  opacity: 1;
}
.footer:hover .footer-box .navigation-list li a {
  opacity: 1;
}

/*# sourceMappingURL=index.css.map */
