.container {
  @include indent(0 auto, 0 16px);
  @include size();
  max-width: 1170px;
}

.btn {
  @include indent(0,4px 8px,flex);
  @include flex(row, center, center);
  @include transition();
  @include color($ui-01-color, $btn-color);
  min-width: 120px;
  min-height: 38px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: $shadow-02;
  &:hover {
    @include color($btn-color, $ui-01-color);
  }
  &:active {
    box-shadow: inset $shadow-02;
  }
  &.btn-primary {
    @include color($primary-color, $text-inverse-color);
    border: 1.5px solid $primary-color;
    &:hover {
      @include color($text-inverse-color, $primary-color);
    }
  }
  &.btn-secondary {
    @include color($secondary-color, $text-inverse-color);
    &:hover {
      @include color($text-inverse-color, $secondary-color);
    }
  }

}