%menu-item {
  @include font(400,14px,22px);
  @include size(max-content, auto);
  @include transition(color);
  position: relative;
  color: $menu-link-color;
  letter-spacing: .7px;
  &::before {
    @include indent();
    @include size(.1px, 3px);
    @include transition();
    content: "";
    background: $primary-color;
    position: absolute;
    left: 0; bottom: -12px; right: auto; top: auto;
    opacity: 0;
  }
  &:hover {
    color: $primary-color;
    &::before {
      @include size(100%, 3px);
      opacity: 1;
    }
  }

}