@mixin size($width: 100%, $height: auto) {
  width: $width;
  height: $height;
}

@mixin indent($margin: 0, $padding: 0, $display: block) {
  display: $display;
  margin: $margin;
  padding: $padding;
  box-sizing: border-box;
}

@mixin flex($direction: column, $justify-content: flex-start, $align-items: flex-start) {
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin font($weight: 400, $size: 16px, $line-height: 24px, $style: normal, $family: 'Roboto') {
  font-family: $family, 'Arial', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  font-style: $style;
}

@mixin color($background-color: #fff, $color: #000) {
  background-color: $background-color;
  color: $color;
}

@mixin transition ($for: all, $time: 200ms, $type: ease) {
  transition: $for $time $type;
}