$text-01-color:             #000000;
$text-02-color:             #b3b3b3;
$text-03-color:             #e6e6e6;
$text-04-color:             #121212;
$text-05-color:             #666666;
$menu-link-color:           #0a0a0a;
$text-inverse-color:        #ffffff;
$btn-color:                 #e16590;
$primary-color:             #6866d1;
$secondary-color:           #fe515d;

$ui-01-color:               #ffffff;
$ui-02-color:               #6851a7;
$ui-03-color:               #fcbd0f;

$shadow-01: 0 8px 20.9px 3.1px rgba(0, 0, 0, 0.08);
$shadow-02: 0 0 13px 0 rgba(0, 0, 0, 0.2);
$shadow-03: 0 0 68px 0 rgba(0, 0, 0, 0.15);
$shadow-04: -0.1px 3px 7px 0 rgba(108, 108, 108, 0.15);